@use 'fonts';

@import 'header';
@import 'footer';


body {
    color: fonts.$main-txt-color;
    font-family: fonts.$font-family;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
}

.txt {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.highlight {
    color: fonts.$highlighted-color;
}